body {margin:0px;font-size:large;}
.height100percent {height:100%} 
#header {margin:0;padding:0;text-align:center;line-height:2em;border:1px solid black;}   
#talkApp {margin:0.1em;float:left;font-size:0.9em;}
#exitApp {margin:0.1em;float:right;font-size:0.9em;}
#canvas {clear:both;height:70%;background-color:cyan;}
#footer {}
#copyright {font-style:italic;font-size:small;}
